# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\승희\3213\HelloSpring4MVC\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
